
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<!DOCTYPE HTML>
<html>

<body>
    <div class="gallery-top">
        <div class="container">
            <div class="gallery-info">
                <h2>Gallery</h2>
            </div>
            <div class="gallery-grids-top">
                <div class="gallery-grids">
                    <div class="col-md-3 gallery-grid"> 
                        <a class="example-image-link" href="~/web/images/s1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s1.jpg" alt="" /></a>
                    </div>  
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s2.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s5.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s3.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s3.jpg" alt="" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="gallery-grids gallery-grids-middle">
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s4.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s6.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s6.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s7.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s7.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s1.jpg" alt="" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="gallery-grids">
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s2.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s2.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s5.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s5.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s3.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s3.jpg" alt="" /></a>
                    </div>
                    <div class="col-md-3 gallery-grid">
                        <a class="example-image-link" href="~/web/images/s4.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="~/web/images/s4.jpg" alt="" /></a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>